<?xml version="1.0" encoding="utf-8"?>
	
<!-- Copyright (C) 2020 xyzmean -->
	
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.chaldeastudio.deviceparts"
    android:versionCode="11"
    android:versionName="1.1"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <protected-broadcast android:name="com.android.systemui.doze.pulse" />

    <uses-sdk
        android:minSdkVersion="24"
        android:targetSdkVersion="24"/>

    <application
        android:label="@string/device_settings_app_name"
        android:persistent="true">

        <receiver android:name=".BootCompletedReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".dirac.DiracActivity"
            android:label="@string/dirac_title"
            android:theme="@style/Theme.Main">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data android:name="com.android.settings.category"
                       android:value="com.android.settings.category.ia.sound" />
            <meta-data android:name="com.android.settings.summary"
                       android:resource="@string/dirac_summary" />
        </activity>

        <service android:name=".doze.DozeService"
                 android:permission="XiaomiDozeService">
        </service>

        <activity
            android:name=".doze.DozeSettingsActivity"
            android:label="@string/ambient_display_title"
            android:theme="@style/Theme.Main">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.display" />
        </activity>
    </application>
</manifest>
